/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@font-face {
    font-family: Hasklig;
    src: url(../fonts/Hasklig-Regular.otf);
}

body {
  font-family: Hasklig;
  padding-bottom: 0px;
}

html {
  border-top: 0px;
  border-bottom: 0px;
  border-left: 4.5vmin double yellow;
  border-right: 4.5vmin double yellow;
}

html, body {
  width: 100%;
}

.copyright {
  margin-right: 0.5vmin;
}

.cc {
  margin-right: 0.5vmin
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel-desktop {
  width: 100%;
  /* padding-bottom: 58.4%; */
}

.item, .first-slide, .second-slide, .third-slide, .fourth-slide, .fifth-slide, .sixth-slide, .seventh-slide, .eighth-slide, .ninth-slide {
  width: 416px;
  height: 243px;
  max-height: auto; */
}

.carousel-mobile {
  max-width: 1000%;
}

.new-caption-area {
  margin-bottom: 2px;
}

.visible-xs {
  padding-bottom: 20px;
}

.hidden-xs {
  padding-bottom: 20px;
}
