.jumbotron-desktop {
  max-width: 100%;
  background-color: #ffffff;
  margin-bottom: 60px;
}

.jumbotron-mobile {
  background-color: #ffffff;
  margin-bottom: 60px;

  max-width: 100%;
  /* Set up proportionate scaling */
  overflow-x: hidden;
}
